@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Fredoka One', cursive;
    background-color: #3B3486;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    color: #FCFDF2;
    font-size: 32px;
}

.subtitulo {
    color: #FCFDF2;
    font-size: 20px;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    background: #8854ec;
    box-sizing: border-box;
    border: 1px solid #40390F;
    height: 100px;
    margin: 10px;
    padding: 10px;
    width: 100px;
}

#boton-mascota {
    background-color: #FFE9B1;
    border: 1px dashed #40390F;
    box-sizing: border-box;
    height: 60px;
    margin: 10px;
    padding: 10px;
    width: 150px;
}

input {
    display: none;
}