@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* color palette https://bit.ly/3DXn4bw */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #3b3486;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    color: #fcfdf2;
    font-family: 'Fredoka One', cursive;
    font-size: 32px;
}

.subtitulo {
    color: #fcfdf2;
    font-size: 20px;
}

.tarjetas, .tarjetas-ataques{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    background: #8854ec;
    border-radius: 20px;
    border: 1px solid #fcfdf2;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 10px;
    padding: 10px;
    width: 185px;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

#boton-mascota {
    background: transparent;
    border-radius: 20px;
    border: 1px solid #fcfdf2;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    height: 40px;
    margin-top: 30px;
    width: 150px;
}

input {
    display: none;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-ataque {
    background-color: #8854ec;
    border-radius: 20px;
    border-color: transparent;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    width: 180px;
}

#mensajes {
    display: flex;
    flex-direction: column;
    align-items: center ;
    background: #FFE9B1;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
    width: 280px;
}

#boton-reset {
    border: none;
    background-color: transparent;
    color: #8854ec;
    
}

.combate {
    display: grid;
    grid-template-columns: 100px 100px;
    column-gap: 75px;
    color: #fff;
    justify-items: center;
}

.combate-jugador, .combate-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vidas-mascota-jugador, #vidas-mascota-enemiga{
    font-size:32px;
    margin-bottom:0;
}

@media (max-width: 550px) {
    .tarjetas {
        flex-direction: column;
    }

    .tarjetas-ataques{
        flex-direction: column;
    }
}